.clearfix:after {
    content: .;
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width:0;
}
.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

body {
   margin:0;
   padding:0;
   color:#000;
   font-size:11px;
   line-height:16px;
   font-family:Arial, Verdana, Helvetica, sans-serif;
   text-align:center;
}
a:link,
a:visited {color:#000;}

a:hover { 
   color:#7F917B;
   text-decoration:none;
}
/* begin craigs buildouts */

.aiMainContent {
    position:relative;
    margin:0 auto;
    background-color:#fff;
    text-align:left;
    
}
    .aiTableContainer {
        float:left;
        margin:6px;
    }
    .aiTableTitle {background-color:#ccc;}
        .aiTableTitle td,
        .aiColumnOne {
            text-align:center;
            font-weight:bold;
        }
    .aiButtonRow {text-align:center;}
    
    
    
    
/* end craigs buildouts */    

table.ctmTable {
   border-width:1px solid #666;
   border-collapse: collapse;
}
table.ctmTable th {
   background-color:#84807D;
   font-size: 14px;
   text-align:center;
}
th {font-style:bold;}
table.ctmTable th,
table.ctmTable td {
   border:1px solid #666;
   padding:6px;
}

table.ctmTable tr.odd {background-color:#efeeee;}
table.ctmTable tr.even {background-color:#dcf1fa;}
table.ctmTable tr.even:hover,
table.ctmTable tr.odd:hover {background-color:#b7e5f7;}

div.ctmCentered {
   width: 380px;
   height: 125px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -64px;
   background: #000000;
}

.basictab{
    padding: 3px 0;
    margin-left: 0;
    border-bottom: 1px solid black;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.basictab li{
    display: inline;
    margin: 0;
}

.basictab div {
   text-decoration:none;
    padding:3px 7px;
    margin-right:3px;
    border:1px solid black;
    border-bottom:none;
    background-color:#44454c;
}

.basictab li a{
   text-decoration: none;
    padding: 3px 7px;
    margin-right: 3px;
    border: 1px solid black;
    border-bottom: none;
    background-color:  #44454c;
    color: #ffffff;
}

.basictab li a:visited {color:#ffffff;}

.basictab li a:hover {
    background-color: #DBFF6C;
    color: black;
}

.basictab li a:active {
    background-color:#DBFF6C;
    color:black;
}

.basictab img {
    border: 0px;
    padding: 0px;
}

.basictab li.selected a{ /*selected tab effect*/
    position:relative;
    top:1px;
    padding-top:4px;
    background-color:#DBFF6C;
    color:#ffffff;
}
a.ctmButton{
    padding:2px 4px;
    font-size:11px;
    border:1px solid #666;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    background:url(../images/grayButtonBg.gif) repeat-x left bottom;
    text-decoration:none;
}
a.ctmButton:hover {
    background:url(../images/grayButtonBgOn.gif) repeat-x left bottom;
    color:#000;
}


